In [1]:
import numpy as np
import netCDF4 as nc
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inline

In [3]:
t0=dt.datetime(2015,1,1)
for ii in range(0,10):
    print(t0+dt.timedelta(days=ii*60))

2015-01-01 00:00:00
2015-03-02 00:00:00
2015-05-01 00:00:00
2015-06-30 00:00:00
2015-08-29 00:00:00
2015-10-28 00:00:00
2015-12-27 00:00:00
2016-02-25 00:00:00
2016-04-25 00:00:00
2016-06-24 00:00:00

In [4]:
t0=dt.datetime(2015,1,1)
for ii in range(0,10):
    print(t0+dt.timedelta(days=ii*40))

2015-01-01 00:00:00
2015-02-10 00:00:00
2015-03-22 00:00:00
2015-05-01 00:00:00
2015-06-10 00:00:00
2015-07-20 00:00:00
2015-08-29 00:00:00
2015-10-08 00:00:00
2015-11-17 00:00:00
2015-12-27 00:00:00

In [3]:
f=nc.Dataset('/data/eolson/results/MEOPAR/SS36runs/CedarRuns/rev_noMrubrum_0/SalishSea_1h_20150501_20150619_ptrc_T_20150531-20150609.nc')

In [4]:
f.variables()

TypeError: 'collections.OrderedDict' object is not callable

In [5]:
f.variables.keys()

odict_keys(['nav_lat', 'nav_lon', 'bounds_nav_lon', 'bounds_nav_lat', 'area', 'deptht', 'deptht_bounds', 'time_centered', 'time_centered_bounds', 'time_counter', 'time_counter_bounds', 'nitrate', 'ammonium', 'silicon', 'diatoms', 'flagellates', 'ciliates', 'microzooplankton', 'dissolved_organic_nitrogen', 'particulate_organic_nitrogen', 'biogenic_silicon', 'mesozooplankton'])

In [6]:
f.variables['nitrate']

<class 'netCDF4._netCDF4.Variable'>
float32 nitrate(time_counter, deptht, y, x)
    standard_name: mole_concentration_of_nitrate_in_sea_water
    long_name: Nitrate Concentration
    units: mmol m-3
    online_operation: average
    interval_operation: 40 s
    interval_write: 1 h
    cell_methods: time: mean (interval: 40 s)
    cell_measures: area: area
    _FillValue: 1e+20
    missing_value: 1e+20
    coordinates: time_centered nav_lat nav_lon
unlimited dimensions: time_counter
current shape = (240, 40, 898, 398)
filling on

In [ ]:
plt.pcolormesh(f.variables['nitrate'][0,])