In [1]:

import glob

In [12]:
l=list(glob.glob('/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/*.ipynb'))

In [13]:
l.sort()

In [5]:
l=l.sort()

In [14]:
l

['/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/CSNuts-10dayFiles-spring2015_LR-Long.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-10dayFiles-spring2015_AugBase-Long-exploreDeepNuts.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-10dayFiles-spring2015_LR-Long.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-10dayFiles-spring2015_M5-Long-seasons.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-10dayFiles-spring2015_M5-Long-test.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-10dayFiles-spring2015_SMELTB0-short.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-10dayFiles-spring2015_T6-Long-seasons.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-hindcast-Sept.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-hindcast-long.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-nowcast-Long.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-nowcast-exploreDeepNuts.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2015-2017_newhindcast.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2015_HC201812.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2015_ISink-0530-ExcludeSaanich.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2015_LinbfSiDiatRefl0_2-0530-ExcludeSaanich.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2015_t15r15DiatAlpha0-0520-ExcludeSaanich.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2015_t15r15LinbfSi-0530-ExcludeSaanich.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2015_testT.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2016_HC201812.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_CentralSOG_NewLOGnSiT-Copy1.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_CentralSOG_NewLONoSiT.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_CentralSOG_NewLOSOGT.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_CentralSOG_NewLOSOGTbfSi.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_CentralSOG_hindcast.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_HC201812-719.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_HC201812-compPAR-JanJun.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_HC201812-compPAR.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_HC201812-compPAR_CentralSOG.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_HC201812.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_NewLOSOGT-1027-ExcludeSaanich.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_NewLOSOGT2Si-1027-ExcludeSaanich.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_NewLOSOGTRSi-1027-ExcludeSaanich.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_NewLOSOGTbfSi-1027-ExcludeSaanich.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_spring_NewLOGnSiT-1027.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_spring_NewLOGnSiT-719.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_spring_NewLOGnSiTB-1027-EstBottomFluxSi.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_spring_NewLOGnSiTB-1027.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_spring_NewLONoSiT-1027.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_spring_NewLONoSiT-719.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_spring_NewLOSOGT.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_spring_NewLOSOGTbfSi.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_spring_PAR_13bfastSi-719.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_spring_PAR_13bfastSiHR-719.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_spring_PAR_13bfastSiLR-719.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_spring_PAR_13bslowSi-719.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_spring_PAR_1_3-719.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_spring_PAR_1_3.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_spring_PAR_1_3_CentralSOG.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_spring_PAR_1_3_JanJul.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_spring_PAR_1_3_JanJun.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_spring_PAR_1_3_b-719.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-2017_spring_PAR_BSIdepfastSiLR-719.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-HC201812.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-HC201812_2015.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-HC201812_2017.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-Si.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-newhindcast-2015.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-newhindcast-2017.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-spring15spunB05spring.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-spring16spunZ6.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-spring2015_NoMZME.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-spring2015_T3-seasons.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-spring2015_V1.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-spring2015_Z3-partial.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-spring2015_Z3.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-spring2015_newhindcast-longer.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-spring2015_newhindcast.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vET-spring2015_nowcastgreen.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/DFO-vvlZ-2015_HC201812.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/HakaiComparisons-LoadData-Figure.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/HakaiComparisons-LoadData.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/HakaiComparisons-hindcast201812_2015.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/HakaiComparisons-hindcast201812_2016.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/LO_NO3_OBC_correction.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/LO_OBC_correction-tryS.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/LO_OBC_correction-tryT.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/NewBBCChecks-SMELTB.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/PARRunsComp.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/PSF-vET-2017_HC201812-compPAR.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/PSF-vET-2017_HC201812-compPAR_CentralSOG.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/PSF-vET-2017_PAR_1_3-CentralSOG.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/PSF-vET-2017_PAR_1_3.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/Untitled.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/checkDFOdbExtent.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/checkMortalitySourceRates-hindcast.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/checkMortalitySourceRates-nowcastGreen.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/checkNH4.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/checkPARRangeJuly.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/compSMELTSSC_HC201612.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/compareSi-PAR13bfastLR.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/compareSi.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/compare_LinbfSiDiatRefl0_2_HC1905spinup4.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/compare_SMELT_SSC.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/deepSiFigs-CheckData.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/deepSiFigs-DWR-Mod0.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/deepSiFigs-DWR-mod.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/deepSiFigs-DWR.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/deepSiFigs-compareRuns-NewIJ.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/deepSiFigs-compareRuns-NewIJ2.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/deepSiFigs-compareRuns.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/deepSiFigs.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/devEvalTools.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/domain.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/highN03-boundary.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/interan-feb6Diff.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/interan-jan11Diff.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/obsSiN.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/testClosestPoint.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/useEvalTools.ipynb',
 '/data/eolson/results/MEOPAR/analysis-elise-2/notebooks/bioTuning/vET-dev-loadPSF.ipynb']

In [11]:
test={'N':OrderedDict({'z<5':{'RMSE':5,'bias':4,'mean':3},'z>5':{'RMSE':2,'bias':1}}),
      'Si':OrderedDict({'z<5':{'RMSE':15,'bias':14,'mean':13},'z>5':{'RMSE':12,'bias':11}})}

In [12]:
test

{'N': OrderedDict([('z<5', {'RMSE': 5, 'bias': 4, 'mean': 3}),
              ('z>5', {'RMSE': 2, 'bias': 1})]),
 'Si': OrderedDict([('z<5', {'RMSE': 15, 'bias': 14, 'mean': 13}),
              ('z>5', {'RMSE': 12, 'bias': 11})])}

def flatten_nested_dict(tdic,ilist=list(),data=list()):
    # do not enter values for ilist or data; should start out empty
    for el in tdic.keys():
        #print(ilist+list((el,)))
        if isinstance(tdic[el],dict):
            #print(ilist+list((el,)))
            data=flatten_nested_dict(tdic[el],ilist+list((el,)),data)
        else:
            print('*',ilist+list((el,tdic[el])))
            data.append(ilist+list((el,tdic[el])))
    return data

In [31]:
allrows=et._flatten_nested_dict(test)

In [32]:
allrows

[['N', 'z<5', 'RMSE', 5],
 ['N', 'z<5', 'bias', 4],
 ['N', 'z<5', 'mean', 3],
 ['N', 'z>5', 'RMSE', 2],
 ['N', 'z>5', 'bias', 1],
 ['Si', 'z<5', 'RMSE', 15],
 ['Si', 'z<5', 'bias', 14],
 ['Si', 'z<5', 'mean', 13],
 ['Si', 'z>5', 'RMSE', 12],
 ['Si', 'z>5', 'bias', 11]]

In [33]:
allrows=et._flatten_nested_dict(test)

In [34]:
allrows

[['N', 'z<5', 'RMSE', 5],
 ['N', 'z<5', 'bias', 4],
 ['N', 'z<5', 'mean', 3],
 ['N', 'z>5', 'RMSE', 2],
 ['N', 'z>5', 'bias', 1],
 ['Si', 'z<5', 'RMSE', 15],
 ['Si', 'z<5', 'bias', 14],
 ['Si', 'z<5', 'mean', 13],
 ['Si', 'z>5', 'RMSE', 12],
 ['Si', 'z>5', 'bias', 11]]

In [38]:
tdf=pd.DataFrame(allrows,columns=('Variable','Subset','  ',''))

In [82]:
tdf=pd.DataFrame(allrows,columns=('Variable','Subset','Metric','Value'))

In [83]:
tdf.set_index(['Variable','Subset','Metric'],inplace=True)

In [57]:
tdf

                Metric  Value
Variable Subset
N        z<5      RMSE      5
         z<5      bias      4
         z<5      mean      3
         z>5      RMSE      2
         z>5      bias      1
Si       z<5      RMSE     15
         z<5      bias     14
         z<5      mean     13
         z>5      RMSE     12
         z>5      bias     11

In [64]:
tdf.pivot(columns='Metric')

                Value
Metric           RMSE  bias  mean
Variable Subset
N        z<5      5.0   4.0   3.0
         z>5      2.0   1.0   NaN
Si       z<5     15.0  14.0  13.0
         z>5     12.0  11.0   NaN

In [68]:
tdf.pivot(columns='Metric').rename_axis(index={'Value':None},columns={'Value':None})

                Value
Metric           RMSE  bias  mean
Variable Subset
N        z<5      5.0   4.0   3.0
         z>5      2.0   1.0   NaN
Si       z<5     15.0  14.0  13.0
         z>5     12.0  11.0   NaN

In [93]:
' '.format(13.324123)

' '

In [71]:
pd.pivot_table(tdf,index=['Variable','Subset'],columns=['Metric']).rename_axis(columns={'Metric':None})

                Value
                 RMSE  bias  mean
Variable Subset
N        z<5      5.0   4.0   3.0
         z>5      2.0   1.0   NaN
Si       z<5     15.0  14.0  13.0
         z>5     12.0  11.0   NaN

In [84]:
tdf.unstack('Metric')

                Value
Metric           RMSE  bias  mean
Variable Subset
N        z<5      5.0   4.0   3.0
         z>5      2.0   1.0   NaN
Si       z<5     15.0  14.0  13.0
         z>5     12.0  11.0   NaN

In [36]:
tdf.set_index(['Variable','Subset','  '],inplace=True)

In [37]:
tdf

Variable Subset
N        z<5    RMSE   5
                bias   4
                mean   3
         z>5    RMSE   2
                bias   1
Si       z<5    RMSE  15
                bias  14
                mean  13
         z>5    RMSE  12
                bias  11

In [20]:
print(tdf.unstack(level=-1))

                 RMSE  bias  mean
Variable Subset
N        z<5      5.0   4.0   3.0
         z>5      2.0   1.0   NaN
Si       z<5     15.0  14.0  13.0
         z>5     12.0  11.0   NaN

In [21]:
pd.pivot_table(tdf,index=['Variable','Subset'],columns=['  '])

                 RMSE  bias  mean
Variable Subset
N        z<5      5.0   4.0   3.0
         z>5      2.0   1.0   NaN
Si       z<5     15.0  14.0  13.0
         z>5     12.0  11.0   NaN

In [22]:
ex2=test['N']
ex2

OrderedDict([('z<5', {'RMSE': 5, 'bias': 4, 'mean': 3}),
             ('z>5', {'RMSE': 2, 'bias': 1})])

In [23]:
allrows=et._flatten_nested_dict(ex2)

In [24]:
allrows

[['z<5', 'RMSE', 5],
 ['z<5', 'bias', 4],
 ['z<5', 'mean', 3],
 ['z>5', 'RMSE', 2],
 ['z>5', 'bias', 1]]

In [25]:
tdf=pd.DataFrame(allrows,columns=('Subset','  ',''))

In [26]:
tdf.set_index(['Subset','  '],inplace=True)

In [27]:
tbl=pd.pivot_table(tdf,index=['Subset'],columns=['  '])

In [28]:
tbl

       RMSE bias mean
Subset
z<5     5.0  4.0  3.0
z>5     2.0  1.0  NaN

In [29]:
et.disaplyStats(ex2,'Subset')

AttributeError: module 'salishsea_tools.evaltools' has no attribute 'disaplyStats'

In [ ]:
et.disaplyStats(test,'Variable')

In [ ]:
test0={'2015':test,'2016':test}

In [ ]:
test0

In [ ]:
allrows=et._flatten_nested_dict(test0)

In [ ]:
allrows

In [ ]:
tdf=pd.DataFrame(allrows,columns=('Year','Variable','Subset','  ',''))

In [ ]:
tdf.set_index(['Variable','Subset','  '],inplace=True)

In [ ]:
tdf

In [ ]:
pd.pivot_table(tdf,index=['Variable','Subset'],columns=['Year','  '])

In [ ]:
et.disaplyStats(test0,level='Year')

In [ ]:
et.disaplyStats(test,level='Variable')

In [ ]:
et.disaplyStats(test['N'])