In [1]:
import datetime as dt
#from salishsea_tools import evaltools
from salishsea_tools import geo_tools
import glob
import pandas as pd
import numpy as np
import pytz
import netCDF4 as nc

In [2]:
nutrients_2015 = pd.read_csv(
    '/ocean/eolson/MEOPAR/obs/PSFCitSci/PSFbottledata2015_CN_edits_EOCor2.csv')

In [3]:
nutrients_2015.head(20)

,station,num,depth,date,Time,lat,lon,no23,si,po4,flagged
0,CBE2,317,2,26-01-2015,NaN,48.736667,-123.571667,7.47,89.02,0.488,False
1,CBE2,319,20,26-01-2015,NaN,48.736667,-123.571667,25.69,51.65,1.993,False
2,CBW2,375,20,26-01-2015,NaN,48.748333,-123.621667,26.59,50.57,2.105,False
3,CBW2,376,20,26-01-2015,NaN,48.748333,-123.621667,34.11,56.14,2.548,False
4,VC1,229,2,26-01-2015,NaN,48.461667,-123.180000,27.23,46.47,2.098,False
5,VC1,231,20,26-01-2015,NaN,48.461667,-123.180000,25.70,42.58,2.042,False
6,VC3,235,2,26-01-2015,NaN,48.333333,-123.300000,24.88,41.28,1.984,False
7,VC3,236,20,26-01-2015,NaN,48.333333,-123.300000,24.63,41.57,1.952,False
8,CBC2,313,2,27-01-2015,NaN,48.748333,-123.605000,6.64,81.18,0.439,False
9,CBC2,315,20,27-01-2015,NaN,48.748333,-123.605000,25.78,51.19,2.144,False
10,SN-001,385,2,27-01-2015,NaN,48.768330,-123.573333,26.03,52.12,1.982,False
11,SN-001,387,20,27-01-2015,NaN,48.768330,-123.573333,26.15,51.25,1.834,False
12,CBC1,164,2,02-04-2015,10:29:00 AM,48.740000,-123.606667,7.70,99.79,0.629,False
13,CBC1,166,20,02-04-2015,10:29:00 AM,48.740000,-123.606667,21.66,40.24,1.985,False
14,CBC2,176,2,02-04-2015,10:59:00 AM,48.748333,-123.605000,5.65,82.72,0.474,False
15,CBC2,178,20,02-04-2015,10:59:00 AM,48.748333,-123.605000,22.25,42.60,1.922,False
16,CBE2,168,2,02-04-2015,9:30:00 AM,48.736667,-123.571667,11.43,64.98,0.987,False
17,CBE2,170,20,02-04-2015,9:30:00 AM,48.736667,-123.571667,21.60,41.90,1.975,False
18,CBW2,172,20,02-04-2015,12:00:00 PM,48.748333,-123.621667,21.61,44.70,2.082,False
19,CBW2,175,2,02-04-2015,12:00:00 PM,48.748333,-123.621667,4.11,96.06,0.299,False

In [4]:
data=nutrients_2015.loc[pd.notnull(nutrients_2015['date'])&
                        pd.notnull(nutrients_2015['Time'])&
                        pd.notnull(nutrients_2015['lat'])&
                        pd.notnull(nutrients_2015['lon'])].copy(deep=True)
data['Lat']=data['lat']
data['Lon']=data['lon']
data['Z']=data['depth']

In [5]:
ts=data['Time'].values
ds=data['date'].values
dts=[pytz.timezone('Canada/Pacific').localize(dt.datetime.strptime(ii+' '+jj,'%d-%m-%Y %I:%M:%S %p')).astimezone(pytz.utc).replace(tzinfo=None)
    for ii,jj in zip(ds,ts)]

In [6]:
data['dtUTC']=dts

In [7]:
data

,station,num,depth,date,Time,lat,lon,no23,si,po4,flagged,Lat,Lon,Z,dtUTC
12,CBC1,164,2,02-04-2015,10:29:00 AM,48.740000,-123.606667,7.70,99.79,0.629,False,48.740000,-123.606667,2,2015-04-02 17:29:00
13,CBC1,166,20,02-04-2015,10:29:00 AM,48.740000,-123.606667,21.66,40.24,1.985,False,48.740000,-123.606667,20,2015-04-02 17:29:00
14,CBC2,176,2,02-04-2015,10:59:00 AM,48.748333,-123.605000,5.65,82.72,0.474,False,48.748333,-123.605000,2,2015-04-02 17:59:00
15,CBC2,178,20,02-04-2015,10:59:00 AM,48.748333,-123.605000,22.25,42.60,1.922,False,48.748333,-123.605000,20,2015-04-02 17:59:00
16,CBE2,168,2,02-04-2015,9:30:00 AM,48.736667,-123.571667,11.43,64.98,0.987,False,48.736667,-123.571667,2,2015-04-02 16:30:00
17,CBE2,170,20,02-04-2015,9:30:00 AM,48.736667,-123.571667,21.60,41.90,1.975,False,48.736667,-123.571667,20,2015-04-02 16:30:00
18,CBW2,172,20,02-04-2015,12:00:00 PM,48.748333,-123.621667,21.61,44.70,2.082,False,48.748333,-123.621667,20,2015-04-02 19:00:00
19,CBW2,175,2,02-04-2015,12:00:00 PM,48.748333,-123.621667,4.11,96.06,0.299,False,48.748333,-123.621667,2,2015-04-02 19:00:00
20,SN-001,161,2,02-04-2015,8:40:00 AM,48.768330,-123.573333,20.47,39.00,1.882,False,48.768330,-123.573333,2,2015-04-02 15:40:00
21,SN-001,162,20,02-04-2015,8:40:00 AM,48.768330,-123.573333,21.26,40.26,1.886,False,48.768330,-123.573333,20,2015-04-02 15:40:00
22,PR6,326,2,15-02-2015,12:15:00 PM,49.860000,-125.026667,24.18,55.16,2.048,False,49.860000,-125.026667,2,2015-02-15 20:15:00
23,PR6,327,20,15-02-2015,12:15:00 PM,49.860000,-125.026667,26.69,55.98,2.245,False,49.860000,-125.026667,20,2015-02-15 20:15:00
24,PR7,321,2,15-02-2015,11:27:00 AM,49.905000,-124.988333,24.63,55.10,2.125,False,49.905000,-124.988333,2,2015-02-15 19:27:00
25,PR7,323,20,15-02-2015,11:27:00 AM,49.905000,-124.988333,26.35,54.40,2.321,False,49.905000,-124.988333,20,2015-02-15 19:27:00
26,PR8,341,2,15-02-2015,10:31:00 AM,49.921667,-124.920000,23.60,54.96,2.018,False,49.921667,-124.920000,2,2015-02-15 18:31:00
27,PR8,343,20,15-02-2015,10:31:00 AM,49.921667,-124.920000,26.36,56.50,2.275,False,49.921667,-124.920000,20,2015-02-15 18:31:00
28,LD1,345,2,16-02-2015,8:45:00 AM,49.996667,-124.821667,21.52,51.49,1.821,False,49.996667,-124.821667,2,2015-02-16 16:45:00
29,LD1,347,20,16-02-2015,8:45:00 AM,49.996667,-124.821667,26.79,56.93,2.258,False,49.996667,-124.821667,20,2015-02-16 16:45:00
30,LD2,333,2,16-02-2015,9:28:00 AM,49.963333,-124.856667,20.22,50.62,1.758,False,49.963333,-124.856667,2,2015-02-16 17:28:00
31,LD2,335,20,16-02-2015,9:28:00 AM,49.963333,-124.856667,26.44,57.23,2.332,False,49.963333,-124.856667,20,2015-02-16 17:28:00
32,LD3,353,2,16-02-2015,10:08:00 AM,50.020000,-124.881667,21.17,50.93,1.882,False,50.020000,-124.881667,2,2015-02-16 18:08:00
33,LD3,355,20,16-02-2015,10:08:00 AM,50.020000,-124.881667,26.44,57.16,2.253,False,50.020000,-124.881667,20,2015-02-16 18:08:00
34,BS1,329,2,18-02-2015,3:07:00 PM,49.608333,-124.866667,18.65,68.43,1.459,False,49.608333,-124.866667,2,2015-02-18 23:07:00
35,BS1,331,20,18-02-2015,3:07:00 PM,49.608333,-124.866667,26.62,55.73,2.175,False,49.608333,-124.866667,20,2015-02-18 23:07:00
36,BS7,265,2,18-02-2015,12:57:00 PM,49.483333,-124.766667,22.90,59.12,1.936,False,49.483333,-124.766667,2,2015-02-18 20:57:00
37,BS7,367,20,18-02-2015,12:57:00 PM,49.483333,-124.766667,26.81,59.37,2.271,False,49.483333,-124.766667,20,2015-02-18 20:57:00
38,BS6,405,2,19-02-2015,3:17:00 PM,49.485000,-124.605000,24.42,40.29,1.931,False,49.485000,-124.605000,2,2015-02-19 23:17:00
39,BS6,407,20,19-02-2015,3:17:00 PM,49.485000,-124.605000,27.74,50.59,2.218,False,49.485000,-124.605000,20,2015-02-19 23:17:00
40,BS9,131,20,19-02-2015,10:38:00 AM,49.466667,-124.500000,27.64,50.13,2.142,False,49.466667,-124.500000,20,2015-02-19 18:38:00
41,BS9,1064,2,19-02-2015,10:38:00 AM,49.466667,-124.500000,23.17,47.41,1.881,False,49.466667,-124.500000,2,2015-02-19 18:38:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,VC1,1373,2,01-10-2015,9:05:00 AM,48.461667,-123.180000,22.55,41.24,2.077,False,48.461667,-123.180000,2,2015-10-01 16:05:00
867,VC1,1374,20,01-10-2015,9:05:00 AM,48.461667,-123.180000,23.84,41.80,2.167,False,48.461667,-123.180000,20,2015-10-01 16:05:00
868,VC3,1361,2,01-10-2015,10:40:00 AM,48.333333,-123.300000,22.84,40.52,2.085,False,48.333333,-123.300000,2,2015-10-01 17:40:00
869,VC3,1362,20,01-10-2015,10:40:00 AM,48.333333,-123.300000,24.41,41.57,2.166,False,48.333333,-123.300000,20,2015-10-01 17:40:00
870,VC7,1359,2,01-10-2015,12:47:00 PM,48.356667,-123.441667,23.67,41.81,2.117,False,48.356667,-123.441667,2,2015-10-01 19:47:00
871,VC7,1360,20,01-10-2015,12:47:00 PM,48.356667,-123.441667,23.93,41.05,2.152,False,48.356667,-123.441667,20,2015-10-01 19:47:00
872,BS1,1264,2,05-10-2015,2:26:00 PM,49.608333,-124.866667,0.03,7.88,0.227,False,49.608333,-124.866667,2,2015-10-05 21:26:00
873,BS1,1265,20,05-10-2015,2:26:00 PM,49.608333,-124.866667,17.74,45.13,2.168,False,49.608333,-124.866667,20,2015-10-05 21:26:00
874,BS3,1266,2,05-10-2015,12:40:00 PM,49.691667,-124.666667,9.21,37.06,1.135,False,49.691667,-124.666667,2,2015-10-05 19:40:00
875,BS3,1267,20,05-10-2015,12:40:00 PM,49.691667,-124.666667,22.09,48.14,2.093,False,49.691667,-124.666667,20,2015-10-05 19:40:00
876,BS6,1242,2,05-10-2015,10:02:00 AM,49.485000,-124.605000,4.30,28.24,0.837,False,49.485000,-124.605000,2,2015-10-05 17:02:00
877,BS6,1243,20,05-10-2015,10:02:00 AM,49.485000,-124.605000,16.87,40.30,1.770,False,49.485000,-124.605000,20,2015-10-05 17:02:00
878,BS7,1254,2,05-10-2015,3:28:00 PM,49.483333,-124.766667,0.46,11.49,0.460,False,49.483333,-124.766667,2,2015-10-05 22:28:00
879,BS7,1255,20,05-10-2015,3:28:00 PM,49.483333,-124.766667,11.82,33.05,1.511,False,49.483333,-124.766667,20,2015-10-05 22:28:00
880,CR2,1272,2,05-10-2015,9:40:00 AM,50.085000,-125.275000,24.89,51.67,2.385,False,50.085000,-125.275000,2,2015-10-05 16:40:00
881,CR2,1273,20,05-10-2015,9:40:00 AM,50.085000,-125.275000,24.77,51.91,2.315,False,50.085000,-125.275000,20,2015-10-05 16:40:00
882,CR4,1274,2,05-10-2015,10:54:00 AM,50.033333,-125.226667,24.79,52.41,2.301,False,50.033333,-125.226667,2,2015-10-05 17:54:00
883,CR4,1275,20,05-10-2015,10:54:00 AM,50.033333,-125.226667,23.68,48.18,2.257,False,50.033333,-125.226667,20,2015-10-05 17:54:00
884,CR8,1262,2,05-10-2015,11:37:00 AM,49.961667,-125.146667,24.09,50.87,2.336,False,49.961667,-125.146667,2,2015-10-05 18:37:00
885,CR8,1263,20,05-10-2015,11:37:00 AM,49.961667,-125.146667,24.73,50.53,2.294,False,49.961667,-125.146667,20,2015-10-05 18:37:00
886,NQ1,1238,2,05-10-2015,4:01:00 PM,49.388333,-124.358333,5.95,30.65,0.802,False,49.388333,-124.358333,2,2015-10-05 23:01:00
887,NQ1,1239,20,05-10-2015,4:01:00 PM,49.388333,-124.358333,20.71,44.18,2.003,False,49.388333,-124.358333,20,2015-10-05 23:01:00
888,NQ6,1393,2,05-10-2015,11:24:00 AM,49.366667,-124.023333,1.71,11.03,0.423,False,49.366667,-124.023333,2,2015-10-05 18:24:00
889,NQ6,1394,20,05-10-2015,11:24:00 AM,49.366667,-124.023333,27.63,47.59,2.430,False,49.366667,-124.023333,20,2015-10-05 18:24:00
890,SN1,1395,2,05-10-2015,12:04:00 PM,49.106667,-123.333333,7.20,40.40,0.761,False,49.106667,-123.333333,2,2015-10-05 19:04:00
891,SN1,1396,20,05-10-2015,12:04:00 PM,49.106667,-123.333333,19.49,43.57,1.842,False,49.106667,-123.333333,20,2015-10-05 19:04:00
892,SN3,1385,2,05-10-2015,8:52:00 AM,49.200000,-123.440000,2.00,17.46,0.404,False,49.200000,-123.440000,2,2015-10-05 15:52:00
893,SN3,1386,20,05-10-2015,8:52:00 AM,49.200000,-123.440000,20.84,44.53,2.022,False,49.200000,-123.440000,20,2015-10-05 15:52:00
894,SN6,1391,2,05-10-2015,10:56:00 AM,49.030000,-123.438333,9.30,50.53,0.897,False,49.030000,-123.438333,2,2015-10-05 17:56:00
895,SN6,1392,20,05-10-2015,10:56:00 AM,49.030000,-123.438333,20.53,45.44,1.983,False,49.030000,-123.438333,20,2015-10-05 17:56:00

In [8]:
meshPath='/ocean/eolson/MEOPAR/NEMO-forcing/grid/mesh_mask201702_noLPE.nc'
start=dt.datetime(2015,2,6)
end=dt.datetime(2015,3,18)

In [9]:
data=data.loc[(data.dtUTC>=start)&(data.dtUTC<end)].copy(deep=True)

In [10]:
data['j']=np.zeros((len(data))).astype(int)
data['i']=np.zeros((len(data))).astype(int)

In [11]:
with nc.Dataset(meshPath) as fmesh:
    lmask=-1*(fmesh.variables['tmask'][0,0,:,:]-1)
    for la,lo in np.unique(data.loc[:,['Lat','Lon']].values,axis=0):
        jj, ii = geo_tools.find_closest_model_point(lo, la, fmesh.variables['nav_lon'], fmesh.variables['nav_lat'], 
                                                    land_mask = lmask)
        data.loc[(data.Lat==la)&(data.Lon==lo),['j','i']]=jj,ii

In [12]:
data=data.sort_values(by=['dtUTC','Lat','Lon','depth'])
data.reset_index(drop=True,inplace=True)

In [13]:
def index_model_files(start,end,basedir,nam_fmt,flen,ftype,tres):
    """
    See inputs for matchData above.
    outputs pandas dataframe containing columns 'paths','t_0', and 't_1'
    """
    if ftype not in ('ptrc_T','grid_T','grid_W','grid_U','grid_V','dia1_T'):
        print('ftype={}, are you sure? (if yes, add to list)'.format(ftype))
    if tres==24:
        ftres='1d'
    else:
        ftres=str(int(tres))+'h'
    ffmt='%Y%m%d'
    dfmt='%d%b%y'
    if nam_fmt=='nowcast':
        stencil='{0}/SalishSea_'+ftres+'_{1}_{1}_'+ftype+'.nc'
    elif nam_fmt=='long':
       stencil='**/SalishSea_'+ftres+'*'+ftype+'_{1}-{2}.nc'
    else:
        raise Exception('nam_fmt '+nam_fmt+' is not defined')
    iits=start
    ind=0
    inds=list()
    paths=list()
    t_0=list()
    t_n=list()
    while iits<=end:
        iite=iits+dt.timedelta(days=(flen-1))
        iitn=iits+dt.timedelta(days=flen)
        try:
            iifstr=glob.glob(basedir+stencil.format(iits.strftime(dfmt).lower(),iits.strftime(ffmt),iite.strftime(ffmt)),recursive=True)[0]
        except:
            print('file does not exist:  '+basedir+stencil.format(iits.strftime(dfmt).lower(),iits.strftime(ffmt),iite.strftime(ffmt)))
            raise
        inds.append(ind)
        paths.append(iifstr)
        t_0.append(iits)
        t_n.append(iitn)
        iits=iitn
        ind=ind+1
    return pd.DataFrame(data=np.swapaxes([paths,t_0,t_n],0,1),index=inds,columns=['paths','t_0','t_n'])

In [14]:
basedir='/data/eolson/MEOPAR/SS36runs/CedarRuns/spring2015_A3Base/'
nam_fmt='long'
flen=10

#map each variable to extract from model to a data variable name and to a file type
varmap={'no23':'nitrate','si':'silicon'}
filemap={'nitrate':'ptrc_T','silicon':'ptrc_T'}
fdict={'ptrc_T':1,'grid_T':1}

In [15]:
# set up columns to accept model values
for ivar in varmap.values():
    data['mod_'+ivar]=np.zeros((len(data)))

In [16]:
# check that entries are minimal and consistent:
fkeysVar=list(filemap.keys())
for ikey in fkeysVar:
    if ikey not in set(varmap.values()):
        filemap.pop(ikey) 
if len(set(varmap.values())-set(filemap.keys()))>0:
    print('Error: file(s) missing from filemap:',set(varmap.values())-set(filemap.keys()))
fkeysVar=list(filemap.keys())
ftypes=list(fdict.keys())
for ikey in ftypes:
    if ikey not in set(filemap.values()):
        fdict.pop(ikey) 
if len(set(filemap.values())-set(fdict.keys()))>0:
    print('Error: file(s) missing from fdict:',set(filemap.values())-set(fdict.keys()))
ftypes=list(fdict.keys())

In [17]:
# reverse filemap dict
filemap_r=dict()
for ift in ftypes:
    filemap_r[ift]=list()
for ikey in filemap:
    filemap_r[filemap[ikey]].append(ikey)
print(filemap_r)

{'ptrc_T': ['nitrate', 'silicon']}

In [18]:
flist=dict()
for ift in ftypes:
    flist[ift]=index_model_files(start,end,basedir,nam_fmt,flen,ift,fdict[ift])

file does not exist:  /data/eolson/MEOPAR/SS36runs/CedarRuns/spring2015_A3Base/**/SalishSea_1h*ptrc_T_20150206-20150215.nc

IndexError: list index out of range

In [ ]:
flist[ftypes[0]]

In [ ]:
def nextfile(ift,idt,ifind,fid,fend):
    if ift in fid.keys():
        fid[ift].close()
    frow=flist[ift].loc[(ifind.t_0<=idt)&(ifind.t_n>idt)]
    fid[ift]=nc.Dataset(frow['paths'].values[0])
    fend[ift]=frow['t_n'].values[0]
    return fid, fend

In [ ]:
def getTimeInd(idt,ifid,torig):
    tlist=ifid.variables['time_centered_bounds'][:,:]
    ih=[iii for iii,hhh in enumerate(tlist) if hhh[1]>(idt-torig).total_seconds()][0] # return first index where latter endpoint is larger
    return ih

In [ ]:
def getZInd(idt,ifid):
    tlist=ifid.variables['deptht_bounds'][:,:]
    ih=[iii for iii,hhh in enumerate(tlist) if hhh[1]>idt][0] # return first index where latter endpoint is larger
    return ih

In [ ]:
with nc.Dataset(meshPath) as fmesh:
    tmask=np.copy(fmesh.variables['tmask'][:,:,:,:])

In [ ]:
tmask[0,1,701,168]

In [ ]:
tmask[0,0,0,0]

In [ ]:
# loop through data, openening and closing model files as needed and storing model data
for ind, row in data.iterrows():
    print('idt',row['dtUTC'])
    if ind==0: # load first files
        fid=dict()
        fend=dict()
        for ift in ftypes:
            fid,fend=nextfile(ift,row['dtUTC'],flist[ift],fid,fend)
        torig=dt.datetime.strptime(fid[ftypes[0]].variables['time_centered'].time_origin,'%Y-%m-%d %H:%M:%S') # assumes same for all files in run
    for ift in ftypes:
        if row['dtUTC']>=fend[ift]:
            fid,fend=nextfile(ift,row['dtUTC'],flist[ift],fid,fend)
        # now read data
        # find time index
        ih=getTimeInd(row['dtUTC'],fid[ift],torig)
        # find depth index
        ik=getZInd(row['Z'],fid[ift])
        # assign values for each var assoc with ift
        for ivar in filemap_r[ift]:
            print(ih,ik,row['j'],row['i'],ivar,fid[ift].variables[ivar][ih,ik,row['j'],row['i']])
            data.loc[ind,['mod_'+ivar]]=fid[ift].variables[ivar][ih,ik,row['j'],row['i']]

In [ ]:
data

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.pcolormesh(tmask[0,0,:,:])
plt.plot(data['i'],data['j'],'r.')

In [ ]:
plt.plot(data['no23'],data['mod_nitrate'],'r.')
plt.plot(np.arange(0,30),np.arange(0,30),'k-')