Run this code after running createDBfromSTRATOGEM-Final but modifying database name to STRAGOGEM2

In [1]:
from sqlalchemy import create_engine, Column, String, Integer, Boolean, MetaData, Table, case, between, ForeignKey
from sqlalchemy.orm import mapper, create_session, relationship
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.ext.automap import automap_base
import sqlalchemy.types as types
from sqlalchemy.sql import select, and_, or_, not_, func
import pandas as pd
import numpy as np

In [2]:
basepath='/ocean/eolson/MEOPAR/obs/'
basedir=basepath + 'STRATOGEM/'
dbname2='STRATOGEM2'
dbname1='STRATOGEM'

In [3]:
Base = automap_base()
engine = create_engine('sqlite:///' + basedir + dbname1 + '.sqlite', echo = False)
df1 = pd.read_sql_table('CombProfTBL', engine)
engine.dispose()
print(len(df1))
df1.head()

124954

,ID,ID_ChlProf,ID_CTDProf,Depth,Temperature,Salinity,PAR_ctd,Xmis_ctd,Fluor_ctd,chl002,chl020,chl200,Ox_bot,Ox_ctd,NO3,PO4,Si,CombStationTBLID
0,1,1.0,1.0,0.991493,8.7769,24.8197,127.440,79.3714,14.0380,12.5,9.9,9.1,NaN,NaN,4.1,0.5,22.1,1
1,2,4.0,142.0,0.991493,9.0391,25.6621,123.750,63.7020,21.2260,16.3,11.2,12.3,NaN,NaN,12.1,0.3,7.2,2
2,3,5.0,146.0,4.957415,8.4333,28.3877,21.224,80.2542,27.3503,15.7,NaN,NaN,NaN,NaN,2.0,0.6,18.4,2
3,4,6.0,157.0,15.863305,7.9070,29.5599,2.074,92.4175,7.5571,6.3,NaN,NaN,NaN,NaN,21.8,1.7,46.0,2
4,5,7.0,280.0,0.991493,8.9074,27.2958,124.440,84.7162,8.4304,5.2,4.0,4.1,9.8,9.42227,0.0,0.1,4.5,3

In [4]:
Base = automap_base()
engine2 = create_engine('sqlite:///' + basedir + dbname2 + '.sqlite', echo = False)
df2 = pd.read_sql_table('CombProfTBL', engine2)
engine.dispose()
print(len(df2))
df2.head()

124954

,ID,ID_ChlProf,ID_CTDProf,Depth,Temperature,Salinity,PAR_ctd,Xmis_ctd,Fluor_ctd,chl002,chl020,chl200,Ox_bot,Ox_ctd,NO3,PO4,Si,CombStationTBLID
0,1,1.0,1.0,0.991494,8.7769,24.8197,127.440,79.3714,14.0380,12.5,9.9,9.1,NaN,NaN,4.1,0.5,22.1,1
1,2,4.0,142.0,0.991494,9.0391,25.6621,123.750,63.7020,21.2260,16.3,11.2,12.3,NaN,NaN,12.1,0.3,7.2,2
2,3,5.0,146.0,4.957422,8.4333,28.3877,21.224,80.2542,27.3503,15.7,NaN,NaN,NaN,NaN,2.0,0.6,18.4,2
3,4,6.0,157.0,15.863327,7.9070,29.5599,2.074,92.4175,7.5571,6.3,NaN,NaN,NaN,NaN,21.8,1.7,46.0,2
4,5,7.0,280.0,0.991494,8.9074,27.2958,124.440,84.7162,8.4304,5.2,4.0,4.1,9.8,9.42227,0.0,0.1,4.5,3

In [5]:
len(df1),len(df2)

(124954, 124954)

In [9]:
np.max(np.abs(df1['NO3']-df2['NO3']))

0.0

In [10]:
np.max(np.abs(df1['Depth']-df2['Depth']))

0.00024967409279952335

In [11]:
np.max(np.abs(df1['chl002']-df2['chl002']))

0.0

In [12]:
np.max(np.abs(df1['Xmis_ctd']-df2['Xmis_ctd']))

0.0

In [13]:
np.max(np.abs(df1['PAR_ctd']-df2['PAR_ctd']))

0.0